<?xml version="1.0" encoding="UTF-8"?>
<!-- https://logback.qos.ch/manual/index.html -->
<configuration>

    <property name="LOG_PATTERN_CONSOLE" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] [%logger{32}#%M:%line] - %msg%n"/>
    <property name="LOG_PATTERN_FILE" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] [%logger{32}] - %msg%n"/>
    <property name="CHARSET" value="UTF-8"/>
    <property name="LOG_HOME" value="/temp/logs/commons" />

    <appender name="C" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN_CONSOLE}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="RF" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/app.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/app-%d{yyyyMMdd}-%i.log</FileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN_FILE}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
        <layout><pattern>${LOG_PATTERN_FILE}</pattern></layout>
    </appender>

    <appender name ="ARF" class= "ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <appender-ref ref ="RF"/>
    </appender>

    <logger name="org.springframework" level="INFO" additivity="true" />
    <logger name="org.stathry.commons.dao" level="DEBUG" additivity="true" />

    <root level="INFO">
        <appender-ref ref="ARF" />
        <appender-ref ref="C" />
    </root>

</configuration>