<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
   " default-autowire="byName">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>classpath:/conf/config.properties</value>
                <value>classpath:/conf/jdbc.properties</value>
                <value>classpath:/conf/redis.properties</value>
                <value>classpath:/conf/mongo.properties</value>
            </array>
        </property>
    </bean>

    <bean class="org.stathry.commons.utils.ApplicationContextUtils"/>

    <bean id="helloMethodReplacer" class="org.stathry.commons.data.HelloMethodReplacer"/>
    <bean id="replaceableBean1" class="org.stathry.commons.data.ReplaceableBean">
        <replaced-method name="hello" replacer="helloMethodReplacer"/>
    </bean>
    <bean id="replaceableBean2" class="org.stathry.commons.data.ReplaceableBean"/>

    <import resource="classpath:spring/*.xml"/>

    <context:component-scan base-package="org.stathry.commons"/>
</beans>