<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="defaultStatementTimeout" value="25"/>

        <!--        <setting name="cacheEnabled" value="${mybatis.cacheEnabled}" />
                <setting name="lazyLoadingEnabled" value="${mybatis.lazyLoadingEnabled}" />
                <setting name="multipleResultSetsEnabled" value="${mybatis.multipleResultSetsEnabled}" />
                <setting name="useColumnLabel" value="${mybatis.useColumnLabel}" />
                <setting name="useGeneratedKeys" value="${mybatis.useGeneratedKeys}" />
                <setting name="defaultStatementTimeout" value="${mybatis.defaultStatementTimeout}" />-->

    </settings>
    <typeAliases>
        <typeAlias type="org.stathry.commons.model.Actor" alias="Actor"/>
    </typeAliases>
</configuration>