<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloMethodReplacer" class="org.stathry.commons.bean.HelloMethodReplacer"/>
    <bean id="replaceableBean1" class="org.stathry.commons.bean.ReplaceableBean">
        <replaced-method name="hello" replacer="helloMethodReplacer"/>
    </bean>
    <bean id="replaceableBean2" class="org.stathry.commons.bean.ReplaceableBean"/>

    <bean id="poolingHttpClientBuilder" class="org.stathry.commons.http.PoolingHttpClientBuilder">
        <property name="maxConnTotal" value="${http.maxConnTotal}"/>
        <property name="maxConnPerRoute" value="${http.maxConnPerRoute}" />
        <property name="connectionTimeout" value="${http.connectionTimeout}" />
        <property name="socketTimeout" value="${http.socketTimeout}" />
    </bean>
</beans>